.home{
    background-image: url("home1-bg.svg");
    display: flex;
    flex-direction: column;
    color: white;
    background-repeat: no-repeat, repeat;
    background-size:cover;
}

.home-left{
    padding: 8vh;
    background: rgba(23, 40, 67, 0.95);
    height: 100vh;
}

