.bottom-nav{
    background: rgb(0,0,0);
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0.9640231092436975) 50%, rgba(0,0,0,0.6671043417366946) 75%, rgba(0,0,0,0) 100%);
    color: white;
    padding-top: 130px;
    position: fixed;
    bottom: 0px;
}

.bottom-nav .active{
    border-bottom: solid;
    border-color: #55C6D7;
    font-weight: bold;
}

.bottom-nav li a, .dummylink{
    text-decoration: none;
    
    color: #fff;
    padding: 10px 20px;
}

.bottom-nav ul li a:hover{
    color: #fff;
    text-decoration: none;
}