.bar-container{
    position: fixed;
    background-color: #ced7de;
    bottom: 0px;
    width: 100%;
    opacity: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
button{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: large;
    margin: 10px;
}