.hamburger-menu, .btn div {
    width: 25px;
    height: 3px;
    background-color: white;
    margin: 6px 0;
    opacity: 80%;
  }

.hamburger-menu {
    position: fixed;
    right: 25px;
    top: -8px;
}

.hamburger-menu .btn-dark{
    background-color: black;
    border-radius: 0px;
     
}